@use "../abstracts" as *;

.header-w {
  background-color: var(--oc-gray-9);
}

.header {
  padding-block: var(--kegel-5);
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq("tabPort") {
    justify-content: space-between;
  }

  &__nav {
    list-style: none;
    display: flex;
    gap: var(--kegel-5);
    align-items: center;

    @include mq("tabLand") {
      gap: var(--kegel-10);
    }
  }

  &__link {
    color: var(--oc-white);
    text-decoration: none;
    font-size: var(--kegel-7);

    &:hover {
      color: var(--oc-red-5);
    }

    &--btn {
      background-color: var(--oc-gray-3);
      padding: 0.5rem var(--kegel-5);
      cursor: pointer;
      color: var(--oc-gray-9);
      font-weight: var(--weight-7);
      letter-spacing: -0.1rem;

      &:hover {
        background-color: var(--oc-red-5);
        color: var(--oc-white);
      }
    }
  }

  &__logo {
    font-size: var(--kegel-8);
    color: var(--oc-white);
    display: none;

    @include mq("tabPort") {
      display: block;
    }
  }
}
