@use "../abstracts" as *;

.edu-w {
  background-color: var(--oc-gray-0);
}

.edu {
  padding-block: var(--space-1);
}

.edu__companies {
  margin-inline: auto;
  display: flex;
  justify-content: space-around;

  img {
    height: var(--kegel-10);
    filter: brightness(0);
    opacity: 0.5;
  }

  margin-bottom: var(--space-1);
}

.edu__info {
  display: flex;
  > * {
    width: 100%;
  }
}

.edu__text {
  font-size: var(--kegel-7);
}

.edu__documents {
  border: 0.3rem solid var(--oc-gray-5);
  box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);

  img {
    width: 100%;
  }
}
