@use "../abstracts" as *;

.hero-w {
  background-color: var(--oc-gray-8);
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--space-1);
  padding-block: var(--space-1);
  color: var(--oc-white);

  &__content {
    justify-self: end;
  }

  &__text {
    font-size: var(--kegel-10);
  }

  &__name {
    font-size: var(--kegel-15);
    font-weight: var(--weight-7);
  }

  &__img {
    img {
      width: 100%;
      max-width: 30rem;
    }
  }
}
