@use "../abstracts" as *;

// For rem units working properly
html {
  scroll-behavior: smooth;
  font-size: 50%;

  @include mq("tabPort") {
    font-size: 56.25%;
  }

  @include mq("tabLand") {
    font-size: 62.5%;
  }
}

// Just make sure that everything is working
body {
  // font-family: "Roboto", sans-serif;
  font-family: "Karla", sans-serif;
  color: var(--oc-gray-7);
}

::selection {
  background-color: var(--oc-red-5);
  color: var(--oc-white);
}

.heading {
  color: var(--oc-gray-9);
  font-size: var(--kegel-12);
  margin-bottom: var(--space-1);
  text-align: center;
  line-height: var(--height-3);

  span {
    border-bottom: 0.5rem solid currentColor;
    color: var(--oc-red-5);
  }
}
