@use "../abstracts" as *;

// For rem units working properly
html {
  font-size: 62.5%;
}

// Just make sure that everything is working
body {
  // font-family: "Roboto", sans-serif;
  font-family: "Karla", sans-serif;
  color: var(--oc-gray-7);
}

.heading {
  color: var(--oc-gray-9);
  font-size: var(--kegel-12);
  margin-bottom: var(--space-1);
  text-align: center;

  span {
    border-bottom: 0.5rem solid currentColor;
  }
}
